@color-black: black;
@color-white: white;
@color-red: red;
@color-green: green;
@color-blue: blue;

body {
  background: @color-black;
  color: @color-white;
  text-shadow: 0 0 8px #9999ff, 0 0 8px #9999ff;
}

.timelines {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0;

  > div {
    text-align: center;
    position: relative;
    width: 30pt;
    display: inline-block;
    top: 0;
    height: 100%;
    font-size: 10pt;
    div {
      position: relative;
      height: 100%;
      margin-left: 50%;
      width: 0;
      border-right-style: solid;
      border-right-width: 3pt;
      box-shadow: 0 0 5px 5px #555580;
    }
  }
}

.stories {
  position: absolute;
  top: 20pt;
  width: 50%;

  &.left {
    left: 0;
    padding-left: 10pt;
    padding-right: 15pt;
    .story {
      .time {
        text-align: right;
        padding-right: 10pt;
      }
      .main {
        .line {
          text-align: left;
          .line-inner {
            padding-right: 10pt;
          }
        }
      }
    }
  }

  &.right {
    right: 0;
    padding-left: 15pt;
    padding-right: 10pt;
    .story {
      .time {
        text-align: left;
        padding-left: 10pt;
      }
      .main {
        .line {
          text-align: right;
          .line-inner {
            padding-left: 10pt;
          }
        }
      }
    }
  }

  .story {
    width: 100%;
    margin-top: 10pt;
    display: table;
    .main {
      display: table-cell;
      .time {
        .bump {
          display: inline-block;
          width: 30pt;
        }
      }
      .line {
        display: table;
        width: 100%;
        border-top-style: solid;
        border-top-width: 3pt;

        .line-inner {
          display: table-cell;
          .info {
            display: inline-block;
/*
            border-left-style: solid;
            border-left-width: 3pt;
            border-right-style: solid;
            border-right-width: 3pt;
            border-bottom-style: solid;
            border-bottom-width: 3pt;
*/
            text-shadow: none;
            box-shadow: 0 0 5px 5px #555580;

            padding: 5pt;
            background: @color-white;
            color: @color-black;
            text-align: left;
            .more {
              display: none;
            }
          }
        }
        .bump {
          display: table-cell;
          width: 30pt;
        }
      }
    }
    .bump {
      display: table-cell;
      width: 30pt;
    }

    &.red .main .line {
      border-color: red;
      .line-inner .info {
        border-color: red;
      }
    }
    &.green .main .line {
      border-color: green;
      .line-inner .info {
        border-color: green;
      }
    }
    &.blue .main .line {
      border-color: blue;
      .line-inner .info {
        border-color: blue;
      }
    }
    &.white .main .line {
      border-color: white;
      .line-inner .info {
        border-color: white;
      }
    }
  }
}